@charset "UTF-8";

article p {
  margin: 4px 0;
}

article a {
  text-decoration: none;
  color: var(--a-color);
}

article a:hover {
  text-decoration: none;
  color: var(--a-hover-color);
}

article a:visited {
  text-decoration: none;
  color: var(--a-visited-color);
}