@charset "UTF-8";

/* first child */
main ul {
  list-style: none;
}

main ul li {
  margin: 4px -10px;
  padding: 8px 10px;
  border-bottom: 1px solid var(--border-color);
}

main ul li:last-child {
  margin-bottom: 20px;
  border-bottom: none;
}

article > div:first-child {
  margin: 0 -10px;
  line-height: 1.25;
  letter-spacing: 2px;
  font-size: 12px;
}

article > div:first-child time {
  padding: 0 6px 0 10px;
  color: var(--date-color);
  border-bottom: 1px solid var(--date-color);
}

article h2 {
  margin: 8px 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
}

/* last child */
main nav {
  width: 94.5%;
  display: flex;
  text-align: center;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

main nav > a {
  width: calc(100% / 9);
}

main nav > ol {
  width: calc(500% / 9);
  display: flex;
  list-style: none;
}

main nav > ol li {
  width: 20%;
}

main nav > a:nth-child(n+1):nth-child(-n+2),
main nav > ol li:nth-child(n+1):nth-child(-n+2) {
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
}

main nav > a:nth-child(n+4):nth-child(-n+5),
main nav > ol li:nth-child(n+4):nth-child(-n+5) {
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
}

main nav a {
  padding: 8px 0;
  display: block;
}

main nav a,
main nav a:hover,
main nav a:visited {
  text-decoration: none;
  color: var(--color);
}

main nav a.empty-pager {
  color: var(--border-color);
}

main nav a.selected-pager {
  background-color: var(--menu-background-color);
}